<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background: url(../static/newspaper.jpg) no-repeat; background-size: cover;">
        <center style="position: absolute; left: 36%; top: 20%;">
            <h1>Fake News Detection</h1>
        <form action="/predict" method="post" onsubmit=handlesubmit(e) id="newsForm">
            <center><textarea id="news_article" name="news_article" rows="4" cols="50" placeholder="Enter the title of the article" required></textarea><br><br>
                <button id="Submit" onclick="showResult()">Submit</button></center>
        </form>
        </center>
         <i class="fa fa-search" aria-hidden="true" id="search" style="display: none;"></i>
    {% if prediction_text %}
        <center><h2 id="result">{{prediction_text}}</h2></center>
    {% endif %}
</body>
<script>
    const item = document.getElementById('result');
    document.getElementById('newsForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const load = document.getElementById('search');
        load.style.display = 'block';
        setTimeout(() => {
            event.target.submit();
        }, 5000);
    });
    if(item.innerText == 'The news is Fake'){
        item.style.backgroundColor = 'red'
    }else{
        item.style.backgroundColor = 'green'
    }
</script>
</html>
