<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navmenu">
        <center><h1>FACT 'R' FAKE</h1></center>
    </div><br><br><br><br>
    <div class="container">
        <img src="{{ url_for('static', filename='imagepng.png') }}" alt="Example Image">
        <div class="content">
            <h2>Welcome to TruthShield - Your Reliable Fake News Detector</h2>
            <h3>Uncover the Truth in a World Full of Misinformation</h3>
            <p>In today's digital age, information is at our fingertips. While this brings unparalleled convenience, it also opens the floodgates to a surge of misinformation and fake news. Distinguishing between what's real and what's fabricated can be a daunting task. That's where TruthShield comes in.</p>

            <h3>Our Mission</h3>
            <p>At TruthShield, our mission is to empower individuals with the tools they need to discern truth from falsehood. We believe that an informed society is a strong society, and our platform is dedicated to ensuring that the information you consume is accurate and trustworthy.</p>

            <h3>How It Works</h3>
            <p>Using Support vector machine (SVM) machine learning algorithms, TruthShield scans and analyzes articles. Our sophisticated technology examines the existence of yhe article in the published list of articles and results the state of the article.</p>

            <h3>Get Started</h3>
            <p>Navigating the landscape of information has never been easier. Simply paste the link of the article or post you want to verify into our search bar and let TruthShield do the rest. Together, we can build a more informed and truthful world.</p>
        </div>
    </div>
    <center><a href="/home"><button>Predict</button></a></center>
</body>
</html>